#app-alert(class=(system.mobile && system.ios ? "hidden" : null )).hidden-md.hidden-lg
	a(href='javascript:;').dismiss-alert.dismiss-alert-md.visible-md.visible-lg: span &times;
	.container: .row
		.col-sm-6.app-icon.col-xs-10
			a(href='javascript:;').dismiss-alert.dismiss-alert-xs.visible-xs.visible-sm: span &times;
			img(src='/images/apple-icon.png', alt='app icon', title='app icon', width='64').visible-md.visible-lg
			.visible-md.visible-lg
				h5 SoteTalent Web Application is still under development. 
				p.mb-0 Some Functions May not work. Do not signup, Data Maybe Deleted!

