.sidebar,
body>.navbar-collapse {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
}

.sidebar .sidebar-wrapper,
body>.navbar-collapse .sidebar-wrapper {
    position: relative;
    max-height: none;
    min-height: 100%;
    overflow: hidden;
    width: 260px;
    z-index: 4;
    box-shadow: inset -1px 0px 0px 0px #DDDDDD;
}

.sidebar .sidebar-background,
body>.navbar-collapse .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.sidebar .logo,
body>.navbar-collapse .logo {
    padding: 10px 15px 9px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 4;
}

.sidebar .logo p,
body>.navbar-collapse .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text,
body>.navbar-collapse .logo .simple-text {
    text-transform: uppercase;
    padding: 4px 0px;
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sidebar .logo-tim,
body>.navbar-collapse .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
}

.sidebar .logo-tim img,
body>.navbar-collapse .logo-tim img {
    width: 60px;
    height: 60px;
}

.sidebar .nav,
body>.navbar-collapse .nav {
    margin-top: 20px;
    float: none;
    display: block;
}

.sidebar .nav li .nav-link,
body>.navbar-collapse .nav li .nav-link {
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
    display: block;
    padding: 10px 15px;
}

.sidebar .nav li .nav-link:hover,
body>.navbar-collapse .nav li .nav-link:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

.sidebar .nav li .nav-link p,
body>.navbar-collapse .nav li .nav-link p {
    margin: 0;
    line-height: 31px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
}

.sidebar .nav li .nav-link i,
body>.navbar-collapse .nav li .nav-link i {
    font-size: 28px;
    margin-right: 15px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.sidebar .nav li:hover .nav-link,
body>.navbar-collapse .nav li:hover .nav-link {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

.sidebar .nav li.active .nav-link,
body>.navbar-collapse .nav li.active .nav-link {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav li.separator,
body>.navbar-collapse .nav li.separator {
    margin: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .nav li.separator+.nav-item,
body>.navbar-collapse .nav li.separator+.nav-item {
    margin-top: 31px;
}

.sidebar .nav .caret,
body>.navbar-collapse .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 30px;
}

.sidebar .nav .active-pro,
body>.navbar-collapse .nav .active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav .active-pro a,
body>.navbar-collapse .nav .active-pro a {
    color: #FFFFFF !important;
}

.sidebar .nav .nav-link,
body>.navbar-collapse .nav .nav-link {
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
}

.sidebar .logo,
body>.navbar-collapse .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .logo p,
body>.navbar-collapse .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text,
body>.navbar-collapse .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sidebar .logo-tim,
body>.navbar-collapse .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
}

.sidebar .logo-tim img,
body>.navbar-collapse .logo-tim img {
    width: 60px;
    height: 60px;
}

.sidebar:after,
.sidebar:before,
body>.navbar-collapse:after,
body>.navbar-collapse:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: #FFFFFF;
}

.sidebar:before,
body>.navbar-collapse:before {
    opacity: .33;
    background: #000000;
}
